:root{
    --primary-text-color:#424551;
    --secondary-text-color:#1E212C;
    --white-text-color: #ffffff;
    --text-accent-color:#F75E05;
    --bg-accent-color-alfa: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    --bg-accent-color:linear-gradient(55.95deg, rgb(255, 63, 58) 0%, rgb(247, 94, 5) 100%);
    --transition-dur-and-func:250ms cubic-bezier(.53, .72, 1, 1);
    --primary-color:#FF3F3A;
}


/* ===========================RESET STYLES=========================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* ===========================/RESET STYLES=========================== */

/* ===========================BASIC STYLES=========================== */
body{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
    background-image: var(--bg-accent-color-alfa);
    font-size: 16px;
    line-height: 1.6;
}
.current{
    color: var(--text-accent-color);
}
.container{
    width: 1260px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.button-fill{
    width: 210px;
    text-align: center;
    background-image: var(--bg-accent-color);
    border-radius: 4px;
    color: var(--white-text-color);
    line-height: 3.25;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    scale:1;
    transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func), background-image var(--transition-dur-and-func), background-color var(--transition-dur-and-func), scale var(--transition-dur-and-func);
}
.button-fill:hover,
.button-fill:focus{
    border-color: var(--text-accent-color);
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-accent-color);
    scale:1.07;
}
.button-blank{
    width: 148px;
    border: 1px solid var(--text-accent-color);
    border-radius: 4px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.5px;
    color: var(--text-accent-color);
    text-align: center;
    scale:1;
    transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func), background-image var(--transition-dur-and-func), scale var(--transition-dur-and-func);
}
.button-blank:hover,
.button-blank:focus{
    border-color: transparent;
    background-image: var(--bg-accent-color);
    color: var(--white-text-color);
    scale:1.07;
}
.icon{
    fill: #424551;
}

/* ===========================/BASIC STYLES=========================== */

/* ===========================HEADER STYLES=========================== */
.header{
    position: relative;
    padding-top: 15px;
}
.bg-2{
    position: absolute;
    top: 133px;
    left: 82px;
}
.bg-3{
    position: absolute;
    top: 0;
    right: 96px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-link:nth-of-type(1){
    line-height: 0;
    margin-right: 20px;
}
.menu-link{
    transition: color var(--transition-dur-and-func), scale var(--transition-dur-and-func);
    padding: 6px;
    scale:1;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--primary-color);
    scale:1.1;
}
.consultation-btn{
    animation: shake-horizontal 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 6s infinite;
}
.left-side-header{
    display: flex;
    align-items: center;
    gap: 28px;
}
.right-side-header{
    display: flex;
    gap: 5px;
}
.modal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 180px;
    background: none;
    padding: 13px 0;

}
.text-register{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
}

@keyframes shake-horizontal {

    0%,
    20% {
        transform: translateX(0);
    }

    2%,
    6%,
    10%,
    14% {
        transform: translateX(-10px);
    }

    4%,
    8%,
    12% {
        transform: translateX(10px);
    }

    16% {
        transform: translateX(8px);
    }

    18% {
        transform: translateX(-8px);
    }
}
/* ===========================/HEADER STYLES=========================== */

/* ===========================ACTION STYLES=========================== */
.bg-1{
    position: absolute;
    left: 0;
    bottom: 0;
}
.bg-4{
    position: absolute;
    bottom: 194px;
    right: 0;
}
.bg-5{
    position: absolute;
    bottom: 261px;
    left: 733px;
}
.action-section{
    position: relative;
    padding-top: 133px;
    padding-bottom: 85px;
    /* position: relative;
    background-image: url(../images/bg-images/circles.png), url(../images/bg-images/shapes-2.png);
    background-repeat: no-repeat;
    background-position: left bottom, 133px 82px; */
}
.main-action-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.play-link{
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 16px;
    background-image: url(../images/button/polygon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.play-link .circle::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: -1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity var(--transition-dur-and-func);
}
.play-link:hover .circle::after{
    opacity: 0.12;;
}
.main-title{
    width: 496px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--secondary-text-color);
}
.action-link-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}
.action-fill-link{
    width: 201px;
}
.action-blank-link{
    width: 148px;
}
.achievements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 189px;

}
.achievements-text:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 66px;
    border-radius: 50%;
    background: var(--primary-color);
}
.number-achievements{
    font-weight: 900;
    font-size: 46px;
    margin-right: 12px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.achievements-text{
    font-weight: 400;
    color: var(--secondary-text-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
/* ===========================/ACTION STYLES=========================== */

/* ===========================ABOUT STYLES=========================== */
.about-section{
    position: relative;
    padding-top: 175px;
    background-color: #fff;
}
.bg-2-1{
    position: absolute;
    left: 0;
    top: 235px;
}
.bg-2-2{
    position: absolute;
    top: 432px;
    right: 0;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-slogan{
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.right-side-container{
    margin-left: 135px;
}
.about-title{
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.about-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 12px;
}
.about-list{
    margin-bottom: 48px;
}
.about-item:last-child{
    margin-bottom: 0;
}
.list-about-text{
    width: 358px;
    font-weight: 400;
}
.about-list-icon{
    margin-top: 5px;
    fill: var(--primary-color);
}
.about-button{
    font-size: 14px;
    line-height: 3.14;
    font-weight: 700;
    width: 161px;
}
/* ===========================/ABOUT STYLES=========================== */

/* ===========================COURSES STYLES=========================== */
.courses-section{
    background-color: #fff;
    padding-top: 180px;
}
.upper-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.courses-heading{
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.courses-title{
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.courses-button{
    width: 202px;
    height: 52px;
}
.courses-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.courses-item{
    display: flex;
    width: calc((100% - 30px) / 2);
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    transform: scale(1);
    transition: transform var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.courses-item:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.courses-item>img{
    display: inline-block;
}
.courses-right-item-container{
    padding: 32px;
}
.job-position{
    display: inline-block;
    padding: 1px 8px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-text-color);
}
.marketing{
    background-color: #03CEA4;
}
.hr{
    background-color: #F89828;;
}
.manager{
    background-color: #5A87FC;;
}
.design{
    background-color: #F52F6E;;
}
.job-description{
    width: 322px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}
.job-subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #787A80;
}
.courses-price{
    font-weight: 700;
    color: #FF4242;
}
/* ===========================/COURSES STYLES=========================== */