:root{
    --primary-text-color:#424551;
    --secondary-text-color:#1E212C;
    --white-text-color: #ffffff;
    --text-accent-color:#F75E05;
    --bg-accent-color-alfa: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
    --bg-accent-color:linear-gradient(55.95deg, rgb(255, 63, 58) 0%, rgb(247, 94, 5) 100%);
    --transition-dur-and-func:250ms cubic-bezier(.53, .72, 1, 1);
    --primary-color:#FF3F3A;
}


/* ===========================RESET STYLES=========================== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* ===========================/RESET STYLES=========================== */

/* ===========================BASIC STYLES=========================== */
body{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
    background-image: var(--bg-accent-color-alfa);
    font-size: 16px;
    line-height: 1.6;
}
.current{
    color: var(--text-accent-color);
}

.container{
    width: 1260px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.button-fill{
    width: 210px;
    text-align: center;
    background-image: var(--bg-accent-color);
    border-radius: 4px;
    color: var(--white-text-color);
    line-height: 3.25;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    scale:1;
    transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func), background-image var(--transition-dur-and-func), background-color var(--transition-dur-and-func), scale var(--transition-dur-and-func);
}
.button-fill:hover,
.button-fill:focus{
    border-color: var(--text-accent-color);
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-accent-color);
    scale: 0.95;
}
.button-blank{
    width: 148px;
    border: 1px solid var(--text-accent-color);
    border-radius: 4px;
    font-weight: 700;
    line-height: 3.25;
    letter-spacing: 0.5px;
    color: var(--text-accent-color);
    background-color: transparent;
    text-align: center;
    scale:1;
    transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func), background-image var(--transition-dur-and-func), scale var(--transition-dur-and-func);
}
.button-blank:hover,
.button-blank:focus{
    border-color: transparent;
    background-image: var(--bg-accent-color);
    color: var(--white-text-color);
    scale:0.95;
}
.icon{
    fill: #424551;
}

/* ===========================/BASIC STYLES=========================== */

/* ===========================HEADER STYLES=========================== */
.header{
    position: relative;
    padding-top: 15px;
}
.bg-2{
    position: absolute;
    top: 133px;
    left: 82px;
}
.bg-3{
    position: absolute;
    top: 0;
    right: 96px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-link:nth-of-type(1){
    line-height: 0;
    margin-right: 20px;
}
.menu-link{
    transition: color var(--transition-dur-and-func);
    padding: 6px;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--text-accent-color);
}
.consultation-btn{
    animation: shake-horizontal 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 6s infinite;
}
.left-side-header{
    display: flex;
    align-items: center;
    gap: 28px;
}
.right-side-header{
    display: flex;
    gap: 5px;
}
.modal-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 180px;
    background: none;
    padding: 13px 0;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    transition: color var(--transition-dur-and-func);

}
.modal-btn:hover,
.modal-btn:focus{
    color: var(--text-accent-color);
}
.modal-open-icon{
    transition: fill var(--transition-dur-and-func);
}
.modal-btn:hover .modal-open-icon,
.modal-btn:focus .modal-open-icon{
    fill: var(--text-accent-color);
}
@keyframes shake-horizontal {

    0%,
    20% {
        transform: translateX(0);
    }

    2%,
    6%,
    10%,
    14% {
        transform: translateX(-10px);
    }

    4%,
    8%,
    12% {
        transform: translateX(10px);
    }

    16% {
        transform: translateX(8px);
    }

    18% {
        transform: translateX(-8px);
    }
}
/* ===========================/HEADER STYLES=========================== */

/* ===========================ACTION STYLES=========================== */
.bg-1{
    position: absolute;
    left: 0;
    bottom: 0;
}
.bg-4{
    position: absolute;
    bottom: 194px;
    right: 0;
}
.bg-5{
    position: absolute;
    bottom: 261px;
    left: 733px;
}
.action-section{
    position: relative;
    padding-top: 133px;
    padding-bottom: 85px;
    /* position: relative;
    background-image: url(../images/bg-images/circles.png), url(../images/bg-images/shapes-2.png);
    background-repeat: no-repeat;
    background-position: left bottom, 133px 82px; */
}
.main-action-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.play-link{
    position: relative;
    display: inline-block;
    width: 52px;
    height: 52px;
    padding: 16px;
    background-image: url(../images/button/polygon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.play-link .circle::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 150%;
    border-radius: 50%;
    background-color: var(--primary-color);
    opacity: 0;
    z-index: -1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: opacity var(--transition-dur-and-func);
}
.play-link:hover .circle::after{
    opacity: 0.12;;
}
.main-title{
    width: 496px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--secondary-text-color);
}
.action-link-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}
.action-fill-link{
    width: 201px;
}
.action-blank-link{
    width: 148px;
}
.achievements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 189px;

}
.achievements-text:not(:last-child)::after{
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 66px;
    border-radius: 50%;
    background: var(--primary-color);
}
.number-achievements{
    font-weight: 900;
    font-size: 46px;
    margin-right: 12px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.achievements-text{
    font-weight: 400;
    color: var(--secondary-text-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
/* ===========================/ACTION STYLES=========================== */

/* ===========================ABOUT STYLES=========================== */
.about-section{
    position: relative;
    padding-top: 175px;
    background-color: #fff;
}
.bg-2-1{
    position: absolute;
    left: 0;
    top: 235px;
}
.bg-2-2{
    position: absolute;
    top: 432px;
    right: 0;
}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-slogan{
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.right-side-container{
    margin-left: 135px;
}
.about-title{
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.about-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 12px;
}
.about-list{
    margin-bottom: 48px;
}
.about-item:last-child{
    margin-bottom: 0;
}
.list-about-text{
    width: 358px;
    font-weight: 400;
}
.about-list-icon{
    margin-top: 5px;
    fill: var(--primary-color);
}
.about-button{
    font-size: 14px;
    line-height: 3.14;
    font-weight: 700;
    width: 161px;
}
/* ===========================/ABOUT STYLES=========================== */

/* ===========================COURSES STYLES=========================== */
.courses-section{
    background-color: #fff;
    padding-top: 180px;
}
.upper-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.courses-heading{
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.courses-title{
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.courses-button{
    width: 202px;
    height: 52px;
}
.courses-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.courses-item{
    display: flex;
    width: calc((100% - 30px) / 2);
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    transform: scale(1);
    transition: transform var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.courses-item:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}
.courses-item>img{
    display: inline-block;
}
.courses-right-item-container{
    padding: 32px;
}
.job-position{
    display: inline-block;
    padding: 1px 8px;
    border-radius: 4px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-text-color);
}
.marketing{
    background-color: #03CEA4;
}
.hr{
    background-color: #F89828;;
}
.manager{
    background-color: #5A87FC;;
}
.design{
    background-color: #F52F6E;;
}
.job-description{
    width: 322px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}
.job-subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #787A80;
}
.courses-price{
    font-weight: 700;
    color: #FF4242;
}
/* ===========================/COURSES STYLES=========================== */

/* ===========================BENEFITS STYLES=========================== */
.benefits-section{
    padding-top: 180px;
    padding-bottom: 120px;
    background-color: var(--white-text-color);
}
.benefits-subtitle{
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.benefits-title{
    margin-bottom: 60px;

    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
    color: var(--secondary-text-color);
}
.benefits-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.benefits-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 307px;
    height: 46px;
    background-color: transparent;
    border-radius: 4px;

    font-size: 16px;
    line-height: 1.6;
    color:#9A9CA5;
    border: 1px solid var(--white-text-color);

    transition: border-color var(--transition-dur-and-func);
}
.benefits-button .benefits-icon{
    fill:#9A9CA5;
}
.benefits-button:hover,
.benefits-button:focus{
    border-color: #9A9CA5;
}
.benefits-button.active{
    border: 1px solid #FF3F3A;
    color: #FF3F3A;
}
.benefits-button.active .benefits-icon{
    fill: var(--primary-color);
}
.benefits-bottom-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.benefits-bottom-title{
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.3;
    color: var(--secondary-text-color);
}
.benefits-bottom-text{
    max-width: 495px;
    font-weight: 400;
}
/* ===========================/BENEFITS STYLES=========================== */

/* ===========================EVENTS STYLES=========================== */
.events-section{
    overflow: hidden;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-6{
    position: absolute;
    top: -133px;
    right: -60px;
}
.bg-7{
    position: absolute;
    bottom: 7px;
    left: 10px;
}
.events-subtitle{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: var(--secondary-text-color);
}
.events-title{
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
    color: var(--secondary-text-color);
}
.events-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-bottom: 60px;
}
.events-item{
    display: flex;
    align-items: center;
    padding: 32px 40px;
    width: 1230px;
    background: #FFFFFF;
    border-radius: 4px;
}
.left-events-wrapper{
    display: inline-flex;
    align-items: center;
    gap: 40px;
}
.events-left-side-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.events-date{
    font-weight: 900;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 1px;
    color: var(--primary-color);
}
.events-month{
    margin-bottom: 4px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}
.events-time{
    font-weight: 400;
    font-size: 16px;
    color: #787A80;
}
.events-description-title{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}
.events-description-subtitle{
    font-weight: 400;
    font-size: 16px;
    color: #787A80;
}
.events-button{
    margin-left: auto;
    width: 136px;
    height: 44px;
    background-color: transparent;
    font-size: 14px;
    line-height: 3.14;
}
.events-bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.events-bottom-title{
    font-size: 28px;
    line-height: 1.5;
    color: var(--secondary-text-color);
}
.events-bottom-button{
    width: 214px;
    height: 52px;
}
/* ===========================/EVENTS STYLES=========================== */

/* ===========================HERO STYLES=========================== */
.hero-section{
    position: relative;
    padding-top: 120px;
    padding-bottom: 180px;
}
.bg-8{
    position: absolute;
    bottom: 0;
    left: 0;
}
.bg-9{
    position: absolute;
    bottom: 0;
    right: 0;
}
.hero-subtitle{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--secondary-text-color);
}
.hero-title{
    margin-right: auto;
    margin-left: auto;
    max-width: 810px;
    margin-bottom: 60px;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #1E212C;
}
.hero-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.hero-form-input{
    width: 422px;
    height: 52px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.6;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px;

    font-weight: 400;
    color: #9A9CA5;
}
.hero-submit-button{
    width: 154px;
    height: 52px;
}
/* ===========================/HERO STYLES=========================== */

/* ===========================FOOTER STYLES=========================== */
.footer{
    background-color: var(--secondary-text-color);
    padding-top: 80px;
}
.main-footer-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.footer .logo{
    margin-bottom: 24px;
}
.footer-text{
    max-width: 279px;
    margin-bottom: 38px;
    opacity: 0.6;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--white-text-color);
}
.footer-social-list{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-social-item{
    height: 24px;
}
.footer-social-icon{
    fill: var(--white-text-color);
    opacity: 0.6;
}
.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon{
    opacity: 1;
}
.footer-form-subtitle{
    max-width: 286px;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.5;
    color: var(--white-text-color);
}
.footer-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--white-text-color);
}
.footer-sitemap-list, .footer-courses-list, .footer-contacts-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0.6;
}
.footer-sitemap-link, .footer-courses-link, .footer-contacts-link{
    font-weight: 400;
    font-size: 16px;
    color: var(--white-text-color);
}
.footer-contacts-link{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer-contacts-icon{
    fill: var(--white-text-color);
    opacity: 0.6;
}
.footer-form-title{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--white-text-color);
}
.footer-form{
    position: relative;
    margin-bottom: 12px;
}
.form-input{
    width: 286px;
    height: 36px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding-left: 12px;
    line-height: 1.5;
    color: var(--white-text-color);
    opacity: 0.6;
}
.form-input::placeholder{
    line-height: 1.5;
    color: var(--white-text-color);
    opacity: 0.6;
}
.form-submit-btn{
    position: absolute;
    top: 10px;
    right: 12px;
    background-color: transparent;
}
.footer-form-submit-icon{
    fill: var(--white-text-color);
}
.footer-bottom-wrapper{
    background-color: rgba(255, 255, 255, 0.05);
}
.footer-bottom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-copyright{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: var(--white-text-color)
}
.footer-copy-icon{
    fill: #FF3F3A;
}
.footer-anchor{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-text-color);
    opacity: 0.6;
}
/* ===========================/FOOTER STYLES=========================== */

/* ===========================MODAL WINDOW STYLES=========================== */
.backdrop.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.8);
    opacity: 1;
    visibility: visible;

    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.modal-window{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 486px;
    padding: 48px;

    background: var(--white-text-color);
    border: 1px solid #E5E8ED;
    box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
}
.modal-window::after{
    content: '';
    position: absolute;
    width: 485px;
    height: 1px;
    left: 0;
    top: 524px;
    background-color: #E5E8ED;
}
.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;

    width: 36px;
    height: 36px;
    line-height: 0;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-func);
}
.modal-close-btn:hover,
.modal-cloe-btn:focus{
    background-color: #E7E9FC;
}
.modal-title{
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
    color: var(--secondary-text-color);
    margin-bottom: 24px;
}
.modal-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #787A80;
    margin-bottom: 24px;
}
.modal-form{
    margin-bottom: 24px;
}
.modal-label{
    margin-bottom: 20px;
    display: block;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}
.modal-checkbox-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}
.modal-checkbox-label{
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.modal-input{
    width: 100%;
    height: 44px;
    padding-left: 16px;
    margin-top: 8px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #9A9CA5;
}
.modal-checkbox{
    appearance: none;
    width: 16px;
    height: 16px;
    background-image: url(../images/icon/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #D7DADD;
    background-color: transparent;
    background-size: 0;
    border-radius: 3px;

    transition:background-color var(--transition-dur-and-func), border var(--transition-dur-and-func);
    cursor: pointer;

}
.modal-checkbox:checked{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-size: 10px;
}
.modal-forgot-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #FF3F3A;
}
.modal-submit-btn{
    width: 390px;
    height: 44px;
    margin-bottom: 24px;

    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;

    font-weight: 700;
    font-size: 14px;
    line-height: 3.14;
    text-align: center;
    letter-spacing: 0.5px;
    color: #FFFFFF;

    scale: 1;
    transition: scale var(--transition-dur-and-func);
}
.modal-submit-btn:hover,
.modal-submit-btn:focus{
    scale: 0.98;
}
.modal-registration-text{
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}
.modal-registration-link{
    color: var(--primary-color);
}
.modal-bottom-wrapper{
    padding: 1px;
}
.modal-bottom-subtitle{
    margin-top: 24px;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #787A80;
}
.modal-bottom-social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    line-height: 0;
}
.modal-bottom-social-link{
    padding: 4px;
}
.modal-botton-social-icon{
    fill: #787A80;
    transition: fill var(--transition-dur-and-func);
}
.modal-bottom-social-link:hover .modal-botton-social-icon,
.modal-bottom-social-link:focus .modal-botton-social-icon{
    fill: var(--primary-color);
}
/* ===========================/MODAL WINDOW STYLES=========================== */